.monster-manual-list {
  max-height: calc(100vh - 190px);
  min-height: 400px;
  overflow: scroll;

  .monster-manual-list__item {
    border-radius: 0 !important;
  }

  .monster-manual-list__item--open {
    background-color: #eee;
  }

  .npc-stat-block {
    border-radius: 0;
    background-color: #fbfbfb;
  }

  .stats {
    font-size: 12px;
    text-align: center;
    margin: 0;
    td,th {
      border: none;
    }
  }

  .stats-title {
    text-align: center;
  }
}

.card-text {
  font-size: .8rem;
  margin-bottom: .2rem;
}

.actions-title {
  margin: 6px 0;
  padding-bottom: 2px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
